<!-- <div class="container">

  <div align="center">
     <button type="button" (click)="getData()" name="load_data" id="load_data" class="btn btn-info">Load Data</button>
  </div>

</div> -->
<mat-progress-bar *ngIf="display" mode="indeterminate"></mat-progress-bar>

<br>
<div class="container" *ngIf="csvData">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Search">
  </mat-form-field>

  <div class="mat-elevation-z24">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="S.No">
        <th mat-header-cell *matHeaderCellDef>
          <strong> S.No</strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>

      <ng-container matColumnDef="English Word forms">
        <th mat-header-cell *matHeaderCellDef>
          <strong> English Word forms </strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.English}}</td>
      </ng-container>

      <ng-container matColumnDef="Hindi Dictionary Translation">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Hindi Dictionary Translation </strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.Hindi}} </td>
      </ng-container>

      <ng-container matColumnDef="Definition/Facts/Description">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Definition/Facts/Description </strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.Definition}}</td>
      </ng-container>

      <ng-container matColumnDef="Strong Number">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Strong Number </strong>
        </th>
        <td mat-cell *matCellDef="let row">
          <span style="display:block;" *ngFor="let link of row.StrongNumber.split(',')">{{link}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="References">
        <th mat-header-cell *matHeaderCellDef>
          <strong> References </strong>
        </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/app-bcv-search/{{link.substring(0,8)}}" style="display:block;text-decoration:underline;" target="_blank"
            *ngFor="let link of row.References.split(',')"> {{link.substring(0,8)}} </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </div>